<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://drive.google.com/file/d/1Wtq5Q5fZATorbzDObODwo4rQG5nsCyAZ/view?usp=sharing">1Z0-1127-24: Oracle Cloud Infrastructure 2024 Generative AI Professional</a></li>
    <li><a target="_blank" href="https://courses.edx.org/certificates/48bc66cd113a432db60fc2931bb12038">Public Financial Management offered by IMF</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/A5AXU8BJ4AG4">Python and Statistics for Financial Analysis offered by Hong Kong Univ. of Science & Technology</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/CNAYUGF54F44">Fundamentals of Project Planning and Management offered by Univ of Virginia Darden School of Busniness</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/records/SFGHNLCQ37MZ">Portfolio and Risk Management offered by Univ of Geneva</a></li>
    <li><a target="_blank" href="https://www.udemy.com/certificate/UC-514fbf80-0251-4656-b3e3-4474d48c214a">Master Public Policy Analysis - Advanced</a></li>
    <li><a target="_blank" href="https://courses.edx.org/certificates/c3437d9109104102aee594f0b7bb3d07">OTP-AWSD7 AWS - Getting Started with Cloud Security offered by Amazon Web Services (AWS)</a></li>
    <li><a target="_blank" href="https://www.udemy.com/certificate/UC-528JCY0J/">Introduction to Corporate Finance (Mergers & Acquisitions)</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1GzKeWb49aCA-459Fcv795KdWxYWvNkaH/view?usp=sharing">Scrum Foundation Professional Certificate offered by CertiProf</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1GzKeWb49aCA-459Fcv795KdWxYWvNkaH/view?usp=sharing">Cyber Security Foundation Professional Certificate - CSFPC™ offered by CertiProf</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1ExjpFibAJjDquod99sIi3kzo9fqhwTN9/view?usp=sharing">Chief Information Security Officer (CISO) Deep Dive offered by Ministry of Electronics and IT, Govt. of India</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1TnLK9uc_zMeMmcWozV9tOuzyuzvw4RD7/view?usp=sharing">Bloomberg Market Concept offered by Bloomberg L.P.</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1Mdrwi0j2-viDn4sB7WjRFccqw6CRtSjC/view?usp=sharing">Online Foundation Course (Advance Level) on Cyber Security offered by C-DAC, MeitY, GoI</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1p43cZtQUnqogpEQYpPkWvGoPjQO0NJOG/view?usp=sharing">Online Cyber Security Workshop for Government Officers offered by IIT Guwahati</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1DcGCBwSJnzW33syCYv3KHNP9JcKe5k7o/view?usp=sharing">A Two day Webinar on IoT Security offered by C-DAC, MeitY, GoI</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1t5fNGJsM2CYB-58rgqvW0jjHvlpIYAoi/view?usp=sharing">Alibaba Cloud - Securing your Cloud Infrastructure.</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1pts0Uo3M4vGHMmcVm1XY337MF1RVQjqV/view?usp=sharing">Alibaba Cloud - Fully Managed Alibaba Cloud database.</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1I86EWzrmeckANuq10Fk3IpgyAQvJ8Tpd/view?usp=sharing">Alibaba Cloud - Content Delivery Network.</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/HRMJUDGXT2HT">Usable Security offered by University of Maryland.</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/78A2Z4QH2B9B">Financial Markets (with honours) offered by Yale University.</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1Lj9PW-w-FMbk3GAFUy3eBnsOMk_Fe4sA/view?usp=sharing">Journal Citation Report (JCR) Certification Series - 2021 offered by Clarivate .</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1Z1ApxIu_qu8IBClC1ZiiJnbEpxuLyYEC/view?usp=sharing">Professional membership of Association of Computing Machinery(ACM).</a></li>
    <li><a target="_blank" href="https://www.credly.com/badges/b0c5da07-afbf-4524-b2e4-f185a483591a/public_url">Introduction to Cybersecurity Issued by Cisco.</a></li>
    <li><a target="_blank" href="https://drive.google.com/file/d/1_-GheOnfGztLdKfbLX482UIUKkma13Hv/view?usp=sharing">Official ISC2 CC Online Self-Paced Training - 1M.</a></li>    
    
    <!--<li><a target="_blank" href="http://www.linkedin.com/learning/ethical-hacking-penetration-testing?trk=lil_details_certification">Ethical Hacking - Penetration Testing</a></li>
    
     <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a> -->
     <script async defer src="https://buttons.github.io/buttons.js"></script>
    <br><br><br>
  </ul>
</div><!--//About-->
