<div class="remove-container container-block">
  <h2 class="container-block-title">
    Certificates
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://courses.edx.org/certificates/48bc66cd113a432db60fc2931bb12038">Public Financial Management offered by IMF</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/A5AXU8BJ4AG4">Python and Statistics for Financial Analysis offered by Hong Kong Univ. of Science & Technology</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/CNAYUGF54F44">Fundamentals of Project Planning and Management offered by Univ of Virginia Darden School of Busniness</a></li>
    <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/records/SFGHNLCQ37MZ">Portfolio and Risk Management offered by Univ of Geneva</a></li>
    <li><a target="_blank" href="https://www.udemy.com/certificate/UC-514fbf80-0251-4656-b3e3-4474d48c214a">Master Public Policy Analysis - Advanced</a></li>
    <!--<li><a target="_blank" href="http://www.linkedin.com/learning/ethical-hacking-penetration-testing?trk=lil_details_certification">Ethical Hacking - Penetration Testing</a></li>
    
     <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a> -->
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
  
  <li><a target="_blank" href="https://www.youtu.be/AzAIPXVkV34">Kaushik's Executive MBA Power Profile</a></li>
</div><!--//About-->
